---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
---

<Layout title="Look, a thing!">
  <main>
    <h1>You can't always do it right but you can always do whats left</h1>
  </main>
</Layout>
